### Mongo DB with Python - Querying json Documnents

In [2]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [4]:
mydb = client["Employee"]

In [5]:
information = mydb.employeeinformation

In [6]:
record = {"firstname":"rekha","lastname":"reddy","Rollno":"9"}

In [7]:
information.insert_one(record)

In [8]:
record = [{"firstname":"rekha1","lastname":"reddy","Rollno":"6"},{"firstname":"rani1","lastname":"reddy","Rollno":"8"}]
information.insert_many(record)

In [10]:
records = [{"firstname":"JOhn",
           "lastname":"Doe",
           "department":"Analytics",
           "qualification":"statistics",
           "age":30},
          {"firstname":"JOhn",
           "lastname":"Smith",
           "department":"Analytics",
           "qualification":"masters",
           "age":32},
          {"firstname":"Manish",
           "lastname":"sen",
           "department":"Analytics",
           "qualification":"phd",
           "age":29},
          {"firstname":"Ram",
           "lastname":"singh",
           "department":"Analytics",
           "qualification":"masters",
           "age":28}]

In [12]:
information.insert_many(records)

### quering mongodb

In [13]:
# simple way of querying    getting top one record
information.find_one()

{'_id': ObjectId('632d91bc6cd69a3f6fae1975'),
 'firstname': 'rekha',
 'lastname': 'reddy',
 'Rollno': '9'}

In [14]:
#select * from employeeinformation
information.find()

In [16]:
for record in information.find():
    print(record)

{'_id': ObjectId('632d91bc6cd69a3f6fae1975'), 'firstname': 'rekha', 'lastname': 'reddy', 'Rollno': '9'}
{'_id': ObjectId('632d92366cd69a3f6fae1976'), 'firstname': 'rekha1', 'lastname': 'reddy', 'Rollno': '6'}
{'_id': ObjectId('632d92366cd69a3f6fae1977'), 'firstname': 'rani1', 'lastname': 'reddy', 'Rollno': '8'}
{'_id': ObjectId('632d984c6cd69a3f6fae1978'), 'firstname': 'JOhn', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 30}
{'_id': ObjectId('632d984c6cd69a3f6fae1979'), 'firstname': 'JOhn', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}
{'_id': ObjectId('632d984c6cd69a3f6fae197a'), 'firstname': 'Manish', 'lastname': 'sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 29}
{'_id': ObjectId('632d984c6cd69a3f6fae197b'), 'firstname': 'Ram', 'lastname': 'singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 28}

In [20]:
## query the json documents based on equality condition
# select * from employeeinformation where firstname=krish

In [21]:
for record in information.find({"firstname":"JOhn"}):
    print(record)

{'_id': ObjectId('632d984c6cd69a3f6fae1978'), 'firstname': 'JOhn', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 30}
{'_id': ObjectId('632d984c6cd69a3f6fae1979'), 'firstname': 'JOhn', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}

In [22]:
##Query documents using query operators($in,$li,$gt)
# what is $ in operation  
for record in information.find({"qualification":{"$in":["masters","statistics"]}}):
    print(record)

{'_id': ObjectId('632d984c6cd69a3f6fae1978'), 'firstname': 'JOhn', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 30}
{'_id': ObjectId('632d984c6cd69a3f6fae1979'), 'firstname': 'JOhn', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}
{'_id': ObjectId('632d984c6cd69a3f6fae197b'), 'firstname': 'Ram', 'lastname': 'singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 28}

In [24]:
# combination of AND and Query operators
for record in information.find({"qualification":"masters","age":{"$lt":33}}):
    print(record)

{'_id': ObjectId('632d984c6cd69a3f6fae1979'), 'firstname': 'JOhn', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}
{'_id': ObjectId('632d984c6cd69a3f6fae197b'), 'firstname': 'Ram', 'lastname': 'singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 28}

In [27]:
## OR operators
for record in information.find({"$or":[{"firstname":"JOhn"},{"lastname":"singh"}]}):
    print(record)

{'_id': ObjectId('632d984c6cd69a3f6fae1978'), 'firstname': 'JOhn', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 30}
{'_id': ObjectId('632d984c6cd69a3f6fae1979'), 'firstname': 'JOhn', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 32}
{'_id': ObjectId('632d984c6cd69a3f6fae197b'), 'firstname': 'Ram', 'lastname': 'singh', 'department': 'Analytics', 'qualification': 'masters', 'age': 28}

In [26]:
## AND operators
for record in information.find({"$and":[{"firstname":"JOhn"},{"lastname":"Doe"}]}):
    print(record)

{'_id': ObjectId('632d984c6cd69a3f6fae1978'), 'firstname': 'JOhn', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 30}

In [33]:
## nested documents
inventory = mydb.inventory

In [37]:
inventory.insert_many([
    {"item":"journal",'qty':25,'size':{"h":14,"w":21,"uom":"cm"},"states":"A"},
    {"item":"notebook",'qty':50,'size':{"h":8.5,"wt":11,"umo":"in"},"states":"A"},
    { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
    { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
    { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
    
]);

In [39]:
for records in investory.find({'size': { 'h': 22.85,'w': 30,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('632da03f6cd69a3f6fae197f'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}