In [1]:
from pymongo import MongoClient

In [5]:
#creation of object MongoClient
client = MongoClient()

#connect with the portnumber and host
client = MongoClient("mongodb://localhost:27017/")

#access database
mydatabase = client["Students"]
#Access collection of database
collection= mydatabase["studentscores"]
data = [
    {"users":"Agasthya" , "subject":"Database","score":80},
    {"users":"Mahan" , "subject":"Javascript","score":90},
    {"users":"Mahan" , "title":"Database","score":85},
    {"users":"Agasthya" , "title":"Javascript","score":75},
    {"users":"mahan" , "title":"Data science","score":60},
    {"users":"Agasthya" , "title":"Data science","score":95},
]
collection.insert_many(data)

In [11]:
## total number records
Agg_result = collection.aggregate([{
    "$group":
        {"_id":"$users",
        "total records":{"$sum":1}}
}])
for i in Agg_result:
    print(i)

{'_id': 'mahan', 'total records': 1}
{'_id': 'Agasthya', 'total records': 3}
{'_id': 'Mahan', 'total records': 2}

In [13]:
#calculating the total score based on user
Agg_result = collection.aggregate([{
    "$group":
        {"_id":"$users",
        "total marks":{"$sum":"$score"}}
}])
for i in Agg_result:
    print(i)

{'_id': 'Agasthya', 'total marks': 250}
{'_id': 'Mahan', 'total marks': 175}
{'_id': 'mahan', 'total marks': 60}

In [14]:
#calculating the average score based on user
Agg_result = collection.aggregate([{
    "$group":
        {"_id":"$users",
        "Students average score":{"$avg":"$score"}}
}])
for i in Agg_result:
    print(i)

{'_id': 'mahan', 'Students average score': 60.0}
{'_id': 'Agasthya', 'Students average score': 83.33333333333333}
{'_id': 'Mahan', 'Students average score': 87.5}

In [16]:
import datetime

In [40]:
data= [{"_id":1,"item":"abc","price":10,"quantity":2,"date":datetime.datetime.utcnow()},
        {"_id":2,"item":"zxc","price":20,"quantity":1,"date":datetime.datetime.utcnow()},
        {"_id":3,"item":"abc","price":5,"quantity":5,"date":datetime.datetime.utcnow()},
        {"_id":4,"item":"poi","price":10,"quantity":10,"date":datetime.datetime.utcnow()},
        {"_id":5,"item":"zxc","price":5,"quantity":50,"date":datetime.datetime.utcnow()},
       ]

In [41]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2022, 9, 25, 9, 40, 3, 741369)},
 {'_id': 2,
  'item': 'zxc',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2022, 9, 25, 9, 40, 3, 741369)},
 {'_id': 3,
  'item': 'abc',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2022, 9, 25, 9, 40, 3, 741369)},
 {'_id': 4,
  'item': 'poi',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2022, 9, 25, 9, 40, 3, 741369)},
 {'_id': 5,
  'item': 'zxc',
  'price': 5,
  'quantity': 50,
  'date': datetime.datetime(2022, 9, 25, 9, 40, 3, 741369)}]

In [42]:
mycollection = mydatabase['Store']
mycollection.insert_many(data)

In [43]:
# collecting the avg amount &avg score
agg_result = mycollection.aggregate([
    {
        "$group":{
            "_id":"$item",
            "avgAmount":{"$avg":{"$multiply":["$price","$quantity"]}},
            "avgQuantity":{"$avg":"$quantity"}
        }
    }
])

In [44]:
for i in agg_result:                                            # mongo shell documentation
    print(i)

{'_id': 'zxc', 'avgAmount': 135.0, 'avgQuantity': 25.5}
{'_id': 'poi', 'avgAmount': 100.0, 'avgQuantity': 10.0}
{'_id': 'abc', 'avgAmount': 22.5, 'avgQuantity': 3.5}

In [3]:
## project  
data = [{
    "_id": 1,
    "title" : "mnb345",
    "isbn" : "0001122223334",
    "author" :{"last" :"uyt","first": "aaa"},
    "copies" :5,
},
{
    "_id": 2,
    "title" : "Bank Goods",
    "isbn" : "999999999999999",
    "author" :{"last" :"xyz","first": "abc","middle":" "},
    "copies" :2,
}]

In [5]:
#access collection of the databsce
#creation of object MongoClient
client = MongoClient()

#connect with the portnumber and host
client = MongoClient("mongodb://localhost:27017/")

#access database
mydatabase = client["Students"]
collection = mydatabase["Books"]

In [6]:
collection.insert_many(data)

In [9]:
for row in collection.aggregate([{"$project":{"title":1,"isbn":1}}]):
    print(row)

{'_id': 1, 'title': 'mnb345', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Bank Goods', 'isbn': '999999999999999'}